<!-- Delete Product Form -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>  <!--Delete ProductDelete ProductDelete ProductDelete ProductDelete ProductDelete ProductDelete Product-->
</head>
<body>
    <h2>Delete Product</h2>
    <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post">
        <p>ID: <span th:text="${product.id}"></span></p>
        <p>Name: <span th:text="${product.name}"></span></p>
        <p>Price: <span th:text="${product.price}"></span></p>
        <button type="submit">Delete</button>
    </form>
  <button>  <a th:href="@{/products}">Back to Product List</a></button>
</body>
</html>
