<!-- src/main/resources/templates/products/form.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
    <h2>Add Product</h2>
    <form th:action="@{/products/new}" th:object="${product}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Price: <input type="text" th:field="*{price}" /></p>
        <button type="submit">Save</button>
    </form>
    <a th:href="@{/products}">Back to Product List</a>
</body>
</html>
